# The list of magnitude types handled by sceewlog
magTypes=MVS, Mfd

# Timeout after which a report is generated.
generateReportTimeout=5

# Send email notifications.
email.activate=true

# URL of the smtp server to send the report files to.
email.smtpserver=your.smtp.server  

# Port where the SMTP server accepts connections.
email.port=25

# Whether to use TLS when connecting to the smtp server.
email.usetls=false

# Whether to use SSL when connecting to the smtp server. Note, only 'email.usetls'
# or 'user.ssl' can be true. 
email.usessl=false

# Whether the smtp server requires authentication (username + password) 
email.authenticate=false

# If the smtp server requires authentication you have to specify a file that contains
# username and password in the format:
#     
#    username=your-username
#    password=your-password
# Make sure that you set the file permission as restrictive as possible. 
email.credentials=your-smtp-credentials-file.txt

# Email address that will appear as sender in the report email.
email.senderaddress=your-email@address.com
 
# Any string that should be prepended to the email's subject string.
email.subject="Any subject"

# Host as it is supposed to appear in the email's subject string. 
email.host=sender-hostname

# A list of email addresses that receive the report emails.
email.recipients=email1@provider1.com, email2@provider2.com

# Only send a notification email if the magnitude threshold is exceeded.
email.magThresh = 0.0

# Save reports to disk.
report.activate=true

# Time in seconds that events and the related objects are buffered.
report.eventbuffer=600

# Directory to save reports to. 
report.directory=@LOGDIR@/VS_reports

#ActiveMQ - enable or disable
ActiveMQ.activate = true

# Change the headline for cap1.2 alert message - enable or disable.
#
# if true then the headline text string for the spanish or english version of 
# the cap1.2 alert message will be replaced for the next format:
#
# AGENCY/Earthquake - Mag: MAGVAL, XXkm al DIRSTR de CITY, COUNTRY
# 
# where AGENCY is the string agency set in seiscomp,
# MAGVAL is the magnitude value, and XX is the distance in km
# DIRSTR is the cardianal direction.
#
# for the selected language in ActiveMQ.hlLanguage
#
# In case the selected language is spanish, then the english headline will have the next format:
#
# AGENCY/Earthquake - Mag: MAGVAL, REGION
#
# where REGION is based on Flinn–Engdahl regions obtained using the
# lat and lon epicentral values.
#  
# If false, by default the headline is:
#
# AGENCY - Magnitude: MAGVAL, date and time (UTC): YYYY-MM-ddTHH:mm:ss.sssZ
#
ActiveMQ.changeHeadline = false

# Set the language to change the headline.
# It MUST be either es-US or en-US
# Please, set this value according to the cities file language (ActiveMQ.hlCitiesFile).
ActiveMQ.hlLanguage = es-US

#Full path of the world cities file.
#This is a csv file and the hearder is:
#city,country,lon,lat
#
#where:
# city: String that is the city name
# country: String that is the country name
# lon: float value that is the latitude of city
# lat: float value that is the longitude of city

ActiveMQ.hlCitiesFile = /home/sysop/seiscomp3/share/sceewlog/world_cities.csv

# Server name that runs the ActiveMQ broker
ActiveMQ.hostname=localhost

# Port on which ActiveMQ broker accepts stomp messages
ActiveMQ.port=61619

# Username with which messages are sent
ActiveMQ.username=your-ActiveMQ-username

# Password with which messages are sent
ActiveMQ.password=your-ActiveMQ-password

# ActiveMQ broker topic to send alerts to 
ActiveMQ.topic=/topic/your-topic-for-alerts

# ActiveMQ broker topic to send heartbeats to 
ActiveMQ.hbtopic=/topic/your-topic-for-hearbeats

# ActiveMQ message format; can be either 'qml1.2-rt', 'shakealert', 'sc3ml' or 'cap1.2'
ActiveMQ.messageFormat=qml1.2-rt

#BNA file containing Closed Polygons for each profile.
#this is not mandatory if all your profiles are global ones, just set 'none' (without quotes).
ActiveMQ.bnaFile = none

#ActiveMQ profiles - the profile names must be separated by comma.
#At least the "global" profile must exist and if this is so, then at the
# bnaPolygonName config value set 'none' (without quotes)

ActiveMQ.profiles = global

# Magnitude threshold; can be any float value.
ActiveMQ.global.magThresh = 0.0

# Likelihood Threshold; can be between 0.0 to 1.0. 
ActiveMQ.global.likelihoodThresh = 0.0

# Minimum Depth Value; can be any float value but less than maxDepth.
ActiveMQ.global.minDepth = 0.0

# Maximum Depth Value; can be any float value but greater than minDepth.
ActiveMQ.global.maxDepth = 800.0

#The polygon name must be one of the closed polygons that contains the ActiveMQ.bnaFile.
#if this is set to none, then the origin won't be checked if it is within a polygon.
ActiveMQ.global.bnaPolygonName = none

#maxTime is the difference in time (in seconds) between
#origin time and magnitude creation time.
#This can be >= 0 to be evaluated. 
#If this is -1 then the evaluation is skipped.

ActiveMQ.global.maxTime = -1 

